@media screen and (min-width: 480px) {
  .container {
    padding: 0 22px;
    width: 480px;
  }
  .header-navigation {
    gap: 176px;
  }
  .hero-img {
    width: 390px;
    margin: auto;
  }
  .about-us__span {
    right: 162px;
  }
  .about-us__title-logo {
    font-size: 53px;
  }
  .about-us__include-list {
    margin-bottom: 27px;
  }
}


@media screen and (min-width: 768px) {
  .container {
    padding: 0 46px;
    width: 768px;
  }
  .header-navigation__mobile-btn {
    display: none;
  }
  .header {
    &-navigation {
      display: flex;
      gap: 64px;
      align-items: center;
      padding: 25px 0;

      &__list {
        display: flex;
        gap: 37px;
        font-size: 20px;
        font-weight: 400;

        &-item-link {
          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &-item-link:hover {
          color: $red;
        }
      }
    }
  }
  .hero {
    margin-top: 125px;

    &-inner {
      margin-bottom: 35px;
    }

    &-tagline {
      font-size: 27px;
    }

    &-title {
      font-size: 60px;

    }

    &-descr {
      font-size: 28px;
    }

    &__button {
      padding: 30px 91px;
      font-size: 28px;
    }

    &-img {
      width: 676px;
    }
  }
  .title {
    font-size: 60px;
  }
  .about-us__descr {
    font-size: 28px;
  }
  .about-us__span {
    right: 259px;
    font-size: 30px;
  }
  .about-us__include {
    font-size: 25px;
  }
  .about-us__include-list-item {
    font-size: 22px;
    gap: 50px;
  }
  .about-us__title-logo {
    font-size: 84px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 25px;
    width: 1440px;
  }
  .header-navigation {
    padding: 35px 0;
  }
  .header-navigation__list {
    gap: 60px;
  }
  .hero-container {
    display: flex;
  }
  .about-us__inner {
    display: flex;
    position: relative;
  }
  .about-us__information {
    margin-top: 245px;
    position: relative;
  }
  h5.about-us__span {
    left: 95px;
  }
  .about-us__descr {
    width: 879px;
  }
  li.about-us__include-list-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: calc((100% - 109px)/3);
  }
  .about-us__images {
    display: block;
  }

  ul.about-us__include-list {
    gap: 54px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-us__include {
    font-size: 30px;
  }
  svg.about-us__include-list-item-icon {
    width: 100px;
    height: 100px;
  }

  .about-us__title-logo {
    font-size: 116px;
  }
  .about-us__title-logo {
    letter-spacing: 16.11px;
    font-size: 146px;
    position: absolute;
    left: -429px;
    width: 1358px;
    bottom: 55px;
  }

}

@media screen and (min-width: 1920px) {
  .container {
    padding: 0 142px;
    margin: auto;
    width: 1920px;
    position: relative;
  }
  .header-navigation__list {
    gap: 100px;
  }

  .hero {
    margin-top: 100px;

    &-container {
      display: flex;
      align-items: center;
    }

    &-img {
      width: 865px;
    }

    &-descr {
      margin-bottom: 63px;
    }

  }

  .about-us__information {
    margin-left: 100px;
  }

  li.about-us__include-list-item {
    width: calc((100% - 287px)/3);
  }

  .about-us__title-logo {
    font-size: 179px;
    left: -530px;
    width: 1624px;
    bottom: 55px;
  }
}