@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header {
  &-navigation {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 25px 0;
    justify-content: space-between;

    &__list {
      display: none;
    }

    &-img {
      width: 272px;
    }

    &__mobile-btn {
      background: none;
      border: none;
    }
  }

}

.hero {
  margin-top: 63px;

  &-inner {
    margin-bottom: 35px;
  }

  &-tagline {
    color: $red;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &-title {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;

  }

  &-descr {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  &__button {
    padding: 20px 60px;
    color: $grey;
    font-size: 22px;
    font-weight: 700;
    border: none;

    margin-left: 8px;
  }

  &-img {
    width: 290px;
    margin: auto;
  }
}

.about-us {
  margin-top: 50px;

  &__span {
    font-family: "Cedarville Cursive", cursive;
    color: $red;
    font-size: 18px;
    font-weight: 400;
    transform: rotate(4.545deg);
    position: absolute;
    top: -9px;
    right: 17px;
  }

  &__descr {
    font-size: 17px;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 47px;
  }

  &__include {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 37px;

    &-list {
      gap: 20px;
      display: flex;
      flex-direction: column;

      &-item {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 400;
        gap: 20px;

        &-icon {

        }
      }
    }
  }

  &__title-logo {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
  }

  &__images {
    display: none;
  }
}

.our-courses {
  margin: 140px 0;

  &__span {
    top: -16px;
    right: 20px;
    position: absolute;
  }

  &__kids-title {
    font-size: 35px;
    font-weight: 700;
    margin-top: 30px;
  }

  &__kids-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px auto 50px auto;
    text-align: center;
    width: 290px;

    &-item {

      &-inner {
        border-radius: 30px;
        border: 3px solid $black;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &-img {
      width: 244px;
      border-radius: 30px;
      object-fit: cover;
    }

    &-title {
      text-align: center;
      margin: 17px 0 10px 0;
    }

    &-description {
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 15px;
    }

    &-details {
      display: flex;
      font-size: 9px;
      gap: 18px;
      margin-bottom: 15px;
      text-align: center;

      &-number {
        color: $red;
      }
    }

    &-button {
      padding: 15px 73px;
      border: none;
      color: $white;
      font-weight: 500;
    }

  }
}

.advice {
  margin: 50px 0;

  &-inner {
    &__title {
      font-size: 35px;
      margin-bottom: 15px;
    }

    &__descr {
      font-size: 20px;
    }

    &__image {
      margin: auto;
      position: relative;
    }

    &__svg-1 {
      position: absolute;
      top: 252px;
      left: 11px;
    }

    &__svg-2 {
      right: -5px;
      position: absolute;
      bottom: 50px;
    }
  }

  &__span {
    right: 0;
    position: absolute;
    top: -20px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__input {
      border-radius: 60px;
      border: 3px solid $black;
      width: 100%;
      padding: 10px 20px;
      background-color: $grey;
    }

    &__textarea {
      border-radius: 40px;
      border: 3px solid $black;
      width: 100% !important;
      padding: 20px;
      height: 215px;
      resize: none;
      background-color: $grey;
    }

    &__btn {
      font-size: 15px;
      color: $grey;
      font-weight: 700;
      padding: 15px 66px;
      border: none;
    }
  }


  &-container {
    position: relative;
  }


}

.footer {
  background-color: $red;
  color: $grey;
  padding: 88px 0 40px 0;

  &-navigation {
    display: flex;
    flex-direction: column;
    gap: 45px;

    &__address {
      font-size: 20px;
      font-style: normal;
      color: $grey;
      font-weight: 400;
      transition: color 450ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &__phone {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      color: $grey;
      transition: color 450ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__mail {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      color: $grey;
      transition: color 450ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &-title {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &-policy__link {
    color: $grey;
    font-size: 10px;
  }

  &__soc-list {
    display: flex;
    gap: 10px;

    &-item {
      width: 65px;
      height: 65px;
      background: $grey;
      border-radius: 50%;
      padding: 15px;
      transition: background 450ms cubic-bezier(0.4, 0, 0.2, 1);
    }


  }

  &__soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-policy {
    margin-top: 160px;
  }
}

.footer__soc-list-item:hover {
  background: $black;
}
.footer-navigation__mail:hover {
  color: $black;
}
.footer-navigation__phone:hover{
  color: $black;
}
.footer-navigation__address:hover {
  color: $black;
}

@import "media";