@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header {
  &-navigation {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 25px 0;

    &__list {
      display: none;
    }

    &-img {
      width: 272px;
    }

    &__mobile-btn {
      background: none;
      border: none;
    }
  }

}

.hero {
  margin-top: 63px;

  &-inner {
    margin-bottom: 35px;
  }

  &-tagline {
    color: $red;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &-title {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;

  }

  &-descr {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  &__button {
    padding: 20px 60px;
    color: $grey;
    font-size: 22px;
    font-weight: 700;
    border: none;

    margin-left: 8px;
  }

  &-img {
    width: 290px;
  }
}

.about-us {
  margin-top: 50px;

  &__span {
    font-family: "Cedarville Cursive", cursive;
    color: $red;
    font-size: 18px;
    font-weight: 400;
    transform: rotate(4.545deg);
    position: absolute;
    top: -9px;
    right: 17px;
  }

  &__descr {
    font-size: 17px;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 47px;
  }

  &__include {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 37px;

    &-list {
      gap: 20px;
      display: flex;
      flex-direction: column;

      &-item {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 400;
        gap: 20px;
        &-icon {

        }
      }
    }
  }

  &__title-logo {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
  }

  &__images{
    display: none;
  }
}

@import "media";