@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header {
  &-navigation {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 25px 0;

    &__list {
      display: none;
    }

    &-img {
      width: 272px;
    }
    &__mobile-btn{
      background: none;
      border: none;
    }
  }

}

.hero{
  margin-top: 63px;
  &-inner {
    margin-bottom: 35px;
  }
  &-tagline{
    color: $red;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  &-title {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;

  }
  &-descr {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  &__button {
    padding: 20px 60px;
    color: $grey;
    font-size: 22px;
    font-weight: 700;
    border: none;

    margin-left: 8px;
  }
  &-img {
    width: 290px;
  }
}

@import "media";